---
global:
  evaluation_interval: 30s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
    - targets:
  {% for target in groups['node_exporter_targets'] %} 
        - {{ target }}:9100
  {% endfor %}
  
rule_files:
  - rules/recording_rules.yml
#  - rules/alerting_rules.yml
